@charset "UTF-8";

*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
#navbar{
	background-color:#194553;
	width:100%;
	height:50px;
	/* border:2px solid red;*/
}

#navbar h3{
	color:white;
	float :left;
	padding:10px;
	padding-left:70px;
	font-size:20px;
} 
#navbar span{
	font-family: 'Arimo', sans-serif;
	font-size:24px;
	text-shadow:2px 2px 3px green;
}
#navbar ul {
	float:right;
	
}
#navbar ul li {
    list-style-type:none;
    display:inline-block;
    margin:10px; 
}
#navbar ul li a{
	color:white;
	padding-right:10px;
	font-family: 'Arimo', sans-serif;
	text-decoration:none;
	font-size:20px;
}
#navbar ul li a:hover{
	cursor:pointer;
	color:black;
	text-decoration:underline;
}
body h2{
	
	font-size:24px;
	text-align:center;
	padding:15px;
}
body a{
	width:100%;
	text-decoration:none;
	
}
body a span{
	padding:5px;
	margin-left:450px;
	font-size:20px;
	/* border:2px solid red; */
	font-family: 'Arimo', sans-serif;
	color:black;
}
body a span:hover {
	border-radius:5px;
	box-shadow:4px 4px 4px black;
    background-color:#3cbd99;
}
